<section class="py-5">
    <div class="container my-5">
        <div class="head text-center">
            <h2>CONTACT</h2>
            <div class="star d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-8 m-auto my-2 p-2">
                <input type="text" placeholder="NAME" class="w-100 p-2" name="" id="">
            </div>
            <div class="col-8 m-auto my-2 p-2">
                <input type="text" placeholder="EMAIL" class="w-100 p-2" name="" id="">
            </div>
            <div class="col-8 m-auto my-2 p-2">
                <input type="text" placeholder="PHONE NUMBER" class="w-100 p-2" name="" id="">
            </div>
            <div class="col-8 m-auto my-2 p-2">
                <!-- <input type="text" placeholder="PHONE NUMBER" class="w-100 p-2" name="" id="">
                 -->
                 <textarea name="" class="w-100" placeholder="MESSAGE" id="" cols="30" rows="5"></textarea>
            </div>
            <div class="col-md-8 m-auto my-2 p-2">
                <button class="btn btn-green btn-lg">SEND</button>
            </div>
        </div>
    </div>
</section>