.star {
    position: relative;
}
.star::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 200px;
    background-color: #fff;
    border-radius: 3px;
}
.fa-star {
    padding: 0 5px;
    z-index: 2;
}
.fa-star::before {
    padding: 0 10px;
    background-color: #1ABC9C;
    width: 100px;
    height: 2px;
    z-index: 1;
}
.about{
    background-color: #1ABC9C;
    color: #fff;
}

p {
    text-align: left;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
}
h2{
    font-size: 4rem;

}