<section>
    <div class="container text-light py-5">
        <div class="row px-5 justify-content-evenly">
            <div class="col-md-3 text-center">
                <div class="item">
                    <h4>LOCATION</h4>
                    <p>2215 John Daniel Drive
                        Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="item">
                    <h4>AROUND THE WEB</h4>
                    <div class="icons d-flex align-items-center justify-content-evenly my-3">
                        <div class="icon d-flex align-items-center justify-content-center mx-2">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div class="icon d-flex align-items-center justify-content-center mx-2">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div class="icon d-flex align-items-center justify-content-center mx-2">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                        <div class="icon d-flex align-items-center justify-content-center mx-2">
                            <i class="fa-brands fa-dribbble"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="item">
                    <h4>ABOUT FREELANCER</h4>
                    <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</section>