<nav class="navbar navbar-expand-lg bg-nav px-5 fixed-top">
    <div class="container px-5">
      <a class="navbar-brand text-blue" routerLink="home"><h3>START ANGULAR</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-lg-0">
          <li class="nav-item mx-3 pointer">
            <a class="nav-link text-blue" routerLink="portfolio" routerLinkActive="activeLink">PORTFOLIO</a>
          </li>
          <li class="nav-item mx-3 pointer">
            <a class="nav-link text-blue" routerLink="about" routerLinkActive="activeLink">ABOUT</a>
          </li>
          <li class="nav-item mx-3 pointer">
            <a class="nav-link text-blue" routerLink="contact" routerLinkActive="activeLink">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>