section {
    height: 100vh;
    background-color: #1ABC9C;
    color: #2C3E50;
}

.fa-star{
   position: relative; 
}
.star {
    position: relative;
}
.star::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 200px;
    background-color: #fff;
    border-radius: 3px;
}

.fa-star::before{
    padding: 10px;
background-color: #1ABC9C;
width: 100px;
height: 2px;
z-index: 1;
}

